[project]
	description = server code for vHomeLibrary
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AaronYFQ
[access "refs/for/refs/*"]
	read = group user/AaronYFQ
	push = group user/AaronYFQ
	label-Code-Review = -2..+2 group user/AaronYFQ
	label-Verified = -1..+1 group user/AaronYFQ
	rebase = group user/AaronYFQ
	removeReviewer = group user/AaronYFQ
	submit = group user/AaronYFQ
[access "refs/heads/*"]
	read = group user/AaronYFQ
	create = group user/AaronYFQ
	push = +force group user/AaronYFQ
	pushMerge = group user/AaronYFQ
[access "refs/tags/*"]
	push = group user/AaronYFQ
	push = +force group user/AaronYFQ
